html, body {
    margin: 0;
    height: 100%;
}

body {
  margin: 0;
  font-family:"Courier New", Courier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, yellow 0%, green 50%, yellow 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor: pointer;
}